body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.video-section {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.video-link {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.category-video {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.5s ease, background-image 0.5s ease;
}

.video-link:hover .category-video {
    transform: scale(1.1);
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
